﻿@model CategoryInfoViewModel

<a class="btn btn-block btn-secondary"
    asp-action="List"
    asp-controller="Product"
    asp-route-category="">
    Home
</a>

@foreach (string category in Model.Categories)
{
    <a class="btn btn-block 
        @(category == Model.CurrentCategory ? "btn-primary" : "btn-secondary")"
        asp-action="List"
        asp-controller="Product"
        asp-route-category="@category"
        asp-route-page="1">
        @category
    </a>
}