﻿@model Cart

<div class="">
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("C")
        </small>
    }
    @{
        string controller = ViewContext.RouteData.Values["controller"].ToString();
        string action = ViewContext.RouteData.Values["action"].ToString();
        bool isCartIndex = $"{controller}/{action}".ToUpperInvariant() == "CART/INDEX";

        if (!isCartIndex)
        {
            <a class="btn btn-sm btn-secondary navbar-btn"
               asp-controller="Cart" asp-action="Index"
               asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
                <i class="fa fa-shopping-cart"></i>
            </a>
        }
        else
        {
            <a class="btn btn-sm btn-success navbar-btn">
                <i class="fa fa-shopping-cart"></i>
            </a>
        }
    }
</div>